# Ignore build artifacts
/dist/
/build/
/target/


# Ignore IDE stuff
/.vscode/
/.idea/
/nbproject/
build.xml
manifest.mf


# Ignore MVN stuff
/.mvn/
mvnw*


# Ignore config file
config.json


# Ignore data directory
/data


# Ignore any log files or directories
/logs/
*.log


# Misc
*.DS_Store
*.dll
**/!README.TXT
*.gitattributes